.sticky-table-cell:hover {
  background-color: gray;
}

.sticky-table-cell{
  background-color: #343a40;
  /* background: #343a40; */
  color: white;
  text-align: center;
}

/* .sticky-table-cell#rowHeader{
  width:15%
} */

